/* CSS Reset for Box-Sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* CSS Reset for lists and list items */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* CSS Variables in :root scope to be used among other things for light/dark theme */
:root {
  /* Color Theming */
  --bg-color-1-dark: hsl(0, 0%, 20%);
  --bg-color-1-light: hsl(0, 0%, 94%);

  --bg-color-2-dark: hsl(0, 0%, 15%);
  --bg-color-2-light: hsl(0, 0%, 98%);

  --bg-color-2-with-alpha-dark: hsla(0, 0%, 15%, 0.7);
  --bg-color-2-with-alpha-light: hsla(0, 0%, 98%, 0.7);

  --text-color-dark: hsl(0, 0%, 90%);
  --text-color-light: hsl(0, 0%, 20%);

  --accent-color-dark: hsl(281, 85%, 52%);
  --accent-color-light: hsl(281, 78%, 30%);

  --warning-color-dark: hsl(62, 85%, 52%);
  --warning-color-light: hsl(58, 100%, 33%);

  --skeleton-wave-color-light: hsla(0, 0%, 77%, 0.5);
  --skeleton-wave-color-dark: hsla(0, 0%, 30%, 0.5);

  /* Fixed sizes, spacing etc. */
  --padding-s: 15px;
  --padding-l: 30px;

  --slider-gap: 20px;
  --slider-max-width: 1280px;
  --slider-height: 300px;

  --slide-width-s: 500px;
  --slide-width-l: 600px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color-1: var(--bg-color-1-dark);
    --bg-color-2: var(--bg-color-2-dark);
    --bg-color-with-alpha: var(--bg-color-2-with-alpha-dark);
    --text-color: var(--text-color-dark);
    --accent-color: var(--accent-color-dark);
    --warning-color: var(--warning-color-dark);
    --skeleton-wave-color: var(--skeleton-wave-color-dark);
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --bg-color-1: var(--bg-color-1-light);
    --bg-color-2: var(--bg-color-2-light);
    --bg-color-with-alpha: var(--bg-color-2-with-alpha-light);
    --text-color: var(--text-color-light);
    --accent-color: var(--accent-color-light);
    --warning-color: var(--warning-color-light);
    --skeleton-wave-color: var(--skeleton-wave-color-light);
  }
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: var(--padding-s);
  background-color: var(--bg-color-1);
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-color);

  @media (min-width: 1280px) {
    padding: var(--padding-l);
    align-items: center;
  }
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 15px 0;

  @media (min-width: 1280px) {
    margin: 0;
    width: var(--slider-max-width);
  }
}

.slider,
.skeleton-container,
.error-container {
  height: var(--slider-height);
  width: calc(100% + (2 * var(--padding-s)));
  margin: 0 -15px;

  @media (min-width: 1280px) {
    margin: 0;
    width: var(--slider-max-width);
  }
}

.slider {
  display: none;
  gap: var(--slider-gap);
  padding: 2px;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;

  .slide-container {
    width: var(--slide-width-s);
    min-width: var(--slide-width-s);
    height: 100%;
    background-color: var(--bg-color-2);
    container-type: inline-size;
    scroll-snap-align: center;

    @media (min-width: 1280px) {
      width: var(--slide-width-l);
      min-width: var(--slide-width-l);
    }

    .slide-content {
      height: 100%;
      display: grid;
      grid-template-columns: 1fr 300px;
      grid-template-rows: 1fr 4fr 1fr;
      grid-template-areas:
        "product-brand product-image"
        "product-info  product-image"
        "product-title product-image";
      color: var(--text-color);
      overflow: hidden;

      .product-brand {
        grid-area: product-brand;
        margin: 0;
        padding: 15px 0 0 15px;
        font-weight: bold;
        color: var(--accent-color);
      }

      .product-info {
        grid-area: product-info;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 10px;
        padding: 15px 0 0 15px;
      }

      .product-title {
        grid-area: product-title;
        display: none;
      }

      .product-image {
        grid-area: product-image;

        img {
          width: 100%;
        }
      }

      @container (min-width: 550px) {
        .product-title {
          display: flex;
          align-items: flex-end;
          padding: 5px 10px 5px 15px;
          margin: 0;
          position: absolute;
          bottom: 15px;
          left: 0;
          z-index: 10;
          background-color: var(--bg-color-with-alpha);
        }
      }
    }
  }

  /* Not sure if the absolute second slide (index 1 of the array) or the second visible slide (relative to the scroll container and position)
     should be the one with a reduced width of 500px. Absolute second seems more intuitive from a design perspective to highlight the second slide
     but not intuitive that it is reduced in width - also seems much more complicated technically -> intersection observer or maybe with has() ...*/
  .slide-container:nth-child(2) {
    min-width: var(--slide-width-s);
    max-width: var(--slide-width-s);
  }
}

.slider:focus,
.slide-container:focus {
  outline: 2px solid var(--accent-color);
}

/* I used help by Copilot to generate the following skeleton loading animation */
@keyframes skeleton {
  0% {
    background-position: 200% 0; /* Start the wave off-screen to the left */
  }
  100% {
    background-position: -200% 0; /* Move the wave off-screen to the right */
  }
}

.skeleton {
  width: 100%;
  height: 100%;

  background: linear-gradient(
    90deg,
    var(--bg-color-1) 25%,
    var(--skeleton-wave-color) 50%,
    var(--bg-color-1) 75%
  );
  background-size: 200% 100%;
  animation: skeleton 3s infinite linear;
}

.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px dashed var(--warning-color);
  color: var(--text-color);
  display: none;

  .error-msg {
    font-size: 1.5rem;
    width: max-content;
  }
}
